/* variables */

:root {
  --basic-gray: #eeeeee;
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-red: #FB565A;
  --basic-white: #ffffff;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-light-gray: #e1e1e1;
  --basic-red-circle: #e74246;
  --basic-red-active: #d7373b;
  --basic-btn-red-hover: #E74246;
  --basic-btn-green-hover: #00bC6C;
  --basic-btn-green-active: #00aa62;
  --basic-btn-yellow-hover: #EAB534;
  --basic-btn-yellow-active: #E5A722;
  --basic-logo-nerds: #A6A6A6;
  --basic-gray-popup: #666666;
  --basic-black-dir: #231F20;
  --basic-btn-gray: #DFDFDF;
  --basic-btn-active: #D5D5D5;
  --basic-page-btn: #eeeeee;
  --basic-silver-two: #d7dcde;
  --basic-silver: #b4b9bb;
  --basic-gray-input: #444444;
}

/* global */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*---------- grid ----------*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/*---------- page-header ---------*/

.page-header__container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: var(--basic-gray);
  min-height: 545px;
  width: 100%;
}

.page-header__wrapper {
  min-height: 355px;
}

.page-header__title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin-top: 71px;
  text-align: center;
  padding-right: 16px;
}

.page-header__logo:active path,
.page-header__logo:focus path {
  fill: var(--basic-logo-nerds);
}

/*---------- page-catalog ----------*/

.page-catalog__container {
  display: grid;
  width: 1160px;
  grid-template-columns: 261px 1fr;
  align-content: start;
  margin: 0 auto;
  column-gap: 140px;
}

/*---------- slides ----------*/

.slides {
  position: relative;
}

.slides__banner {
  background-image: url(../img/slide-picture.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 698px;
  height: 413px;
  left: 431px;
  top: -60px;
}

.slides__list {
  list-style: none;
  padding: 0;
}

.slides__item {
  width: 519px;
  box-sizing: border-box;
}

.slides__title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  width: 379px;
  margin-top: 70px;
  margin-bottom: 0;
}

.slides__text {
  text-transform: none;
  font: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  width: 362px;
  margin-bottom: 40px;
  margin-top: 27px;
}

.slides__btn {
  width: 240px;
  height: 50px;
  background-color: var(--basic-red);
  border: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  line-height: 18px;
  cursor: pointer;
  outline: 0;
}

.slides__btn:hover,
.slides__btn:focus {
  background-color: var(--basic-red-circle);
}

.slides__btn:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(240, 210, 210, 0.5);
}

/*---------- main-nav ----------*/

.main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 49px;
}

.main-nav__list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 202px;
  margin-top: 26px;
}

.main-nav__item a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  margin-right: 46px;
}

.user-list {
  padding: 0;
  justify-content: flex-end;
}

.user-list__item a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.user-list__item a:hover,
.user-list__item a:focus {
  color: var(--basic-red);
}

.main-nav__item a:active,
.user-list__item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__item--active::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  background-color:  var(--basic-red);
  top: 43px;
  left: 434px;
}

.user-list__item::before {
  content: "";
  background-image: url(../img/cart-icon.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  right: 97px;
}

/*---------- services ---------*/

.services {
  width: 1160px;
  margin: 0 auto;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  column-gap: 100px;
}

.services__item {
  text-align: left;
  width: 300px;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 16px;
}

.services__text {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  color: var(--basic-dark);
  padding-right: 20px;
  margin-bottom: 33px;
}

.services__btn {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-gray);
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.services__btn--one {
  background-color: var(--basic-red);
}

.services__btn--one:hover,
.services__btn--one:focus {
  background-color: var(--basic-btn-red-hover);
}

.services__btn--one:active {
  background-color: var(--basic-red-active);
  color: rgba(240, 210, 210, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services__btn--two {
  background-color: var(--basic-green);
}

.services__btn--two:hover,
.services__btn--two:focus {
  background-color: var(--basic-btn-green-hover);
}

.services__btn--two:active {
  background-color: var(--basic-btn-green-active);
  color: rgba(35, 215, 140, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services__btn--three {
  background-color: var(--basic-yellow);
}

.services__btn--three:hover,
.services__btn-three:focus {
  background-color: var(--basic-btn-yellow-hover);
}

.services__btn--three:active {
  background-color: var(--basic-btn-yellow-active);
  color: rgba(240, 210, 145, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- description ----------*/

.description {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 145px;
  position: relative;
}

.description::before {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-page-btn);
}

.description__wrapper {
  width: 655px;
  box-sizing: border-box;
}

.description__title {
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
  margin-top: 74px;
  margin-bottom: 34px;
}

.description__text {
  text-transform: none;
  color: var(--basic-dark);
  margin-bottom: 40px;
}

.description__list {
  list-style: none;
  position: relative;
  padding: 0;
}

.description__list h3 {
  font-size: 16px;
  margin-bottom: 7px;
}

.description__item {
  text-transform: none;
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.description__item p {
  margin-bottom: 8px;
}

.description__item::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: var(--basic-red);
  left: 0;
  vertical-align: baseline;
  margin-top: 4px;
}

/*---------- showing ----------*/

.showing {
  margin-top: 41px;
}

.showing__text {
  font-weight: 700;
  margin-bottom: 51px;
  padding-left: 16px;
  margin-top: 29px;
}

.showing__wrapper-statistics {
  display: flex;
  justify-content: space-around;
}

.showing__statistics {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 30px;
}

.showing__lead {
  line-height: 18px;
  text-transform: none;
  padding-bottom: 15px;
  width: 96px;
}

.showing__title {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 32px;
}

.showing__statistics:nth-child(2) {
  margin-left: -12px;
  margin-right: 15px;
}

/*--------- logos ---------*/

.logos {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.logos__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 114px;
  margin-bottom: 126px;
}

.logos__list::before {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-page-btn);
  top: -71px;
}

.logos__list::after {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-page-btn);
  top: 111px;
}

.logos__item-htmlacademy {
  background-image: url(../img/logo-1-1.png);
  background-repeat: no-repeat;
  width: 199px;
  height: 68px;
  cursor: pointer;
  margin-left: 34px;
  margin-top: -6px;
  display: block;
}

.logos__item-htmlacademy::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-page-btn);
  left: 279px;
  top:- 5px;
}

.logos__item-htmlacademy:hover,
.logos__item-htmlacademy:focus {
  background-image: url(../img/logo-1-2.png);
}

.logos__item-htmlacademy:active {
  background-image: url(../img/logo-1-3.png);
}

.logos__item-borodinski {
  background-image: url(../img/logo-2-1.png);
  background-repeat: no-repeat;
  width: 209px;
  height: 90px;
  margin-top: -23px;
  cursor: pointer;
  margin-left: -26px;
  display: block;
}

.logos__item-borodinski:hover,
.logos__item-borodinski:focus {
  background-image: url(../img/logo-2-3.png);
}

.logos__item-borodinski:active {
  background-image: url(../img/logo-2-2.png);
}

.logos__item-pink {
  background-image: url(../img/logo-3-1.png);
  background-repeat: no-repeat;
  width: 185px;
  height: 52px;
  cursor: pointer;
  margin-top: -5px;
  margin-left: -18px;
  display: block;
}

.logos__item-pink::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-page-btn);
  right: 579px;
  top: -5px;
}

.logos__item-pink::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-page-btn);
  right: 279px;
  top: -5px;
}

.logos__item-pink:hover,
.logos__item-pink:focus {
  background-image: url(../img/logo-3-2.png);
}

.logos__item-pink:active {
  background-image: url(../img/logo-3-3.png);
}

.logos__item-mishka {
  background-image: url(../img/logo-4-1.png);
  background-repeat: no-repeat;
  width: 173px;
  height: 84px;
  cursor: pointer;
  margin-top: -17px;
  margin-right: 45px;
  display: block;
}

.logos__item-mishka:hover,
.logos__item-mishka:focus {
  background-image: url(../img/logo-4-2.png);
}

.logos__item-mishka:active {
  background-image: url(../img/logo-4-3.png);
}

/*---------- map ----------*/

.map {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.map__marker {
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  width: 231px;
  height: 190px;
  position: absolute;
  left: 824px;
  top: 85px;
}

/*---------- popup ----------*/

.popup {
  width: 319px;
  min-height: 308px;
  position: absolute;
  background-color: var(--basic-white);
  left: 140px;
  bottom: 62px;
  box-sizing: border-box;
  padding-bottom: 48px;
}

.popup__title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-left: -25px;
  margin-top: 50px;
  margin-bottom: 23px;
}

.popup__address {
  color: var(--basic-gray-popup);
  font-style: normal;
  text-transform: none;
  margin-left: 50px;
  margin-bottom: 37px;
  padding-right: 37px;
  width: 201px;
  line-height: 18px;
  text-align: left;
}

.popup__address a {
  color: var(--basic-gray-popup);
  display: block;
  margin-top: 16px;
}

.popup__btn {
  width: 219px;
  height: 50px;
  border: 0;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
  margin-left: 0;
  padding-top: 6px;
}

.popup__btn:hover,
.popup__btn:focus {
  background-color: var(--basic-btn-red-hover);
}

.popup__btn:active {
  background-color: var(--basic-red-active);
  color: rgba(240, 210, 210, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- a-popup ----------*/

.a-popup {
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: absolute;
  background-color: var(--basic-white);
  top: -136px;
  left: 243px;
  display: none;
}

.a-popup__show {
  display: none;
}

.a-popup__form {
  width: 760px;
  margin: 0 auto;
}

.a-popup__title {
  font-size: 45px;
  text-transform: none;
  line-height: 45px;
  margin-top: 73px;
}

.a-popup__close-cross {
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 90px;
  right: 90px;
  cursor: pointer;
  opacity: 0.3;
  border: 0;
  outline: 0;
}

.a-popup__close-cross:hover,
.a-popup__close-cross:focus {
  opacity: 1;
}

.a-popup__close-cross:active {
  opacity: 0.1;
}

.a-popup__wrapper {
  display: flex;
  justify-content:space-between;
}

.a-popup__label {
  text-transform: none;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.a-popup__label input {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--basic-silver-two);
  margin-top: 12px;
  margin-bottom: 36px;
  color: rgba(68, 68, 68, 0.5);
  padding-left: 16px;
}

.a-popup__label input:hover,
.a-popup__label input:focus {
  border-color: var(--basic-silver);
}

.a-popup__label input:focus {
  color: var(--basic-gray-input);
}

.a-popup__comment {
  text-transform: none;
  font-weight: 700;
}

.a-popup__comment textarea {
  width: 760px;
  box-sizing: border-box;
  height: 118px;
  margin-top: 12px;
  border: 2px solid var(--basic-silver-two);
  margin-bottom: 47px;
  padding-left: 16px;
  padding-top: 14px;
}

.a-popup__btn {
  width: 260px;
  height: 50px;
  background-color: var(--basic-red);
  border: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
}

.a-popup__btn:hover,
.a-popup__btn:focus {
  background-color: var(--basic-btn-red-hover);
}

.a-popup__btn:active {
  background-color: var(--basic-red-active);
  color: rgba(240, 210, 210, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- search-form ----------*/

.search-form__btn {
  width: 260px;
  height: 50px;
  background-color: var(--basic-gray);
  border: 0;
  border-radius: 3px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  outline: 0;
  cursor: pointer;
  margin-top: 30px;
}

.search-form__btn:hover,
.search-form__btn:focus {
  background-color: var(--basic-btn-gray);
}

.search-form__btn:active {
  background-color: var(--basic-btn-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/*---------- filter ----------*/

.filter__wrapper {
  margin-top: 55px;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 47px;
}

.filter__range-controls {
  height: 41px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 33px;
  padding-right: 22px;
  position: relative;
}

.filter__range-controls .filter__scale {
  height: 2px;
  background-color: var(--basic-silver-two);
}

.filter__range-controls .filter__bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.filter__toggle {
  cursor: pointer;
}

.toggle-min {
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  position: absolute;
  top: 30px;
  left: 19px;
}

.toggle-max {
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  position: absolute;
  top: 30px;
  left: 160px;
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
}

.filter__price-controls input {
  width: 80px;
  background-color: var(--basic-page-btn);
  padding-left: 15px;
  height: 38px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  color: var(--basic-dark);
  box-sizing: border-box;
  margin-left: 7px;
}

/*---------- radio ----------*/
.radio {
  display: flex;
  flex-direction: column;
  position: relative;
}

.radio__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 53px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__inner {
  text-transform: none;
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 19px;
  padding-left: 36px;
  margin-bottom: 20px;
  cursor: pointer;
}

.radio__input + .radio__inner::after {
  content: "";
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  opacity: 0.4;
  margin-top: -2px;
}

.radio__input:checked + .radio__inner::after {
  background-image: url(../img/radio-on.svg);
}

.radio__input:hover + .radio__inner::after,
.radio__input:focus + .radio__inner::after{
  opacity: 1;
}

.radio__input:disabled + .radio__inner::after {
  opacity: 0.1;
  color:rgba(40, 49, 54, 0.3);
}

/*---------- checkbox ----------*/

.checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.checkbox__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 16px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__inner {
  text-transform: none;
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 19px;
  padding-left: 36px;
  margin-bottom: 21px;
  cursor: pointer;
}

.checkbox__input + .checkbox__inner::after {
  content: "";
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  cursor: pointer;
  opacity: 0.4;
  margin-top: -2px;
}

.checkbox__input:checked + .checkbox__inner::after {
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
}

.checkbox__input:hover + .checkbox__inner::after,
.checkbox__input:focus + .checkbox__inner::after{
  opacity: 1;
}

.checkbox__input:disabled + .checkbox__inner::after {
  opacity: 0.1;
  color:rgba(40, 49, 54, 0.3);
}

/*---------- sorting ----------*/

.sorting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 99px;
  margin-top: 41px;
}

.sorting__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.sorting__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.sorting__item {
  padding: 0;
}

.sorting__item:nth-child(2) {
  margin-left: 11px;
}

.sorting__item:nth-child(3) {
  margin-left: 27px;
}

.sorting__btn--active {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  padding: 0;
  font-size: 16px;
  margin-right: 16px;
}

.sorting__btn--down {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 48px;
  padding: 0;
}

.sorting__btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: var(--basic-black);
  opacity: 0.3;
  padding: 0;
}

.sorting__btn svg {
  margin-left: 15px;
}

.sorting__item:nth-child(2) {
  margin-right: 4px;
}

.sorting__btn:hover,
.sorting__btn:focus {
  opacity: 0.6;
}

.sorting__btn:active {
  opacity: 1;
}

/*--------- gallery__catalog ----------*/

.gallery__catalog {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 756px;
  justify-content: space-between;
}

.gallery__item {
  position: relative;
  margin-bottom: 88px;
  cursor: pointer;
  margin-top: -24px;
  display: block;
}

.gallery__browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 358px;
  height: 40px;
  position: absolute;
  top: -39px;
  opacity: 0.12;
}

.popup-wrapper {
  position: absolute;
  bottom: 8px;
}

.gallery__item:hover > .gallery__browser {
  opacity: 1;
}

.gallery__item:hover > .popup-wrapper{
  display: block;
}
/*----------- page-btn ----------*/

.page-btn {
  margin-top: -56px;
  margin-bottom: 60px;
}

.page-btn__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.page-btn__item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--basic-page-btn);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn__item:nth-child(2) {
  margin-left: 11px;
  margin-right: 11px;
}

.page-btn__item:nth-child(3) {
  margin-right: 11px;
}

.page-btn__item--next {
  width: 260px;
}

.page-btn__item a {
  color: var(--basic-black);
  font-weight: 500;
}

.page-btn__item--active {
background: rgba(0, 0, 0, 0.0001);
border: 3px solid #DBDBDB;
box-sizing: border-box;
}

.page-btn__item:hover,
.page-btn__item:focus {
  background-color: var(--basic-btn-gray);
}

.page-btn__item:active {
  background-color: var(--basic-btn-gray);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- popup-wrapper ----------*/

.popup-wrapper {
  width: 360px;
  min-height: 231px;
  background-color: var(--basic-gray);
  text-align: center;
  display: none;
  padding-top: 31px;
  box-sizing: border-box;
  padding-bottom: 27px;
}

.popup-wrapper__title {
  font-size: 18px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 17px;
  color: var(--basic-black);
  font-weight: 700;
}

.popup-wrapper__title:hover {
  color: var(--basic-red);
}

.popup-wrapper__title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.popup-wrapper__text {
  color: var(--basic-gray-popup);
  text-transform: none;
  margin-top: 10px;
  padding-left: 74px;
  padding-right: 79px;
  line-height: 21px;
  margin-bottom: 31px;
}

.popup-wrapper__btn {
  width: 200px;
  height: 50px;
  background-color: var(--basic-red);
  border: 0;
  outline: 0;
  color: var(--basic-white);
  border-radius: 3px;
  cursor: pointer;
}

.popup-wrapper__btn:hover,
.popup-wrapper__btn:focus {
  background-color: var(--basic-btn-red-hover);
}

.popup-wrapper__btn:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- page-footer -----------*/

.page-footer {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 139px;
  width: 1160px;
  margin: 69px auto;
}

.socials__list {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
}

.socials__item {
  width: 81px;
  height: 81px;
  background-color: var(--basic-light-gray);
  border-radius: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:nth-child(2) {
  margin-left: 9px;
  margin-right: 9px;
}

.socials__item:hover,
.socials__item:focus {
  background-color: var(--basic-red-circle);
}

.socials__item:active path {
  opacity: 0.3;
  background-color: var(--basic-red-active);
}

/*---------- footer ----------*/

.page-footer {
  margin-top: 45px;
}

.footer__title {
  font-size: 36px;
  text-transform: none;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 24px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  margin-top: 10px;
}
