/* variables */

:root {
  --basic-gray: #eeeeee;
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-red: #FB565A;
  --basic-white: #ffffff;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-light-gray: #e1e1e1;
  --basic-red-circle: #e74246;
  --basic-red-active: #d7373b;
  --basic-btn-red-hover: #E74246;
  --basic-btn-green-hover: #00bC6C;
  --basic-btn-green-active: #00aa62;
  --basic-btn-yellow-hover: #EAB534;
  --basic-btn-yellow-active: #E5A722;
  --basic-logo-nerds: #A6A6A6;
  --basic-gray-popup: #666666;
  --basic-black-dir: #231F20;
  --basic-btn-gray: #DFDFDF;
  --basic-btn-active: #D5D5D5;
  --basic-page-btn: #eeeeee;
}

/* global */

body {
  width: 1440px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*---------- grid ----------*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/*---------- page-header ---------*/

.page-header__container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: var(--basic-gray);
  min-height: 545px;
}

.page-header__wrapper {
  min-height: 355px;
}

.page-header__title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin-top: 100px;
  text-align: center;
}

.page-header__logo:active path,
.page-header__logo:focus path {
  fill: var(--basic-logo-nerds);
}

/*---------- page-catalog ----------*/

.page-catalog__container {
  display: grid;
  width: 1160px;
  grid-template-columns: 261px 1fr;
  align-content: start;
  margin: 0 auto;
  column-gap: 140px;
}

/*---------- slides ----------*/

.slides {
  position: relative;
}

.slides__banner {
  background-image: url(../img/slide-picture.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 698px;
  height: 413px;
  left: 405px;
  top: -60px;
}

.slides__list {
  list-style: none;
  padding: 0;
}

.slides__item {
  width: 519px;
  box-sizing: border-box;
}

.slides__title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  width: 379px;
  margin-top: 70px;
}

.slides__text {
  text-transform: none;
  font: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  width: 361px;
  padding-bottom: 42px;
}

.slides__btn {
  width: 240px;
  height: 50px;
  background-color: var(--basic-red);
  border: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  line-height: 18px;
  cursor: pointer;
  outline: 0;
}

.slides__btn:hover,
.slides__btn:focus {
  background-color: var(--basic-red-circle);
}

.slides__btn:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(240, 210, 210, 0.5);
}

/*---------- main-nav ----------*/

.main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 49px;
}

.main-nav__list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 202px;
}

.main-nav__item a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  margin-right: 46px;
}

.user-list {
  padding: 0;
  justify-content: flex-end;
}

.user-list__item a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.user-list__item a:hover,
.user-list__item a:focus {
  color: var(--basic-red);
}

.main-nav__item a:active,
.user-list__item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__item--active::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 2px;
  background-color:  var(--basic-red);
  top: 32px;
  left: 203px;
}

.user-list__item::before {
  content: "";
  background-image: url(../img/cart-icon.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  right: 97px;
}

/*---------- services ---------*/

.services {
  width: 1160px;
  margin: 0 auto;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.services__item {
  text-align: left;
  width: 300px;
}

.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services__text {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  color: var(--basic-dark);
  padding-right: 20px;
}

.services__btn {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  color: var(--basic-gray);
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.services__btn--one {
  background-color: var(--basic-red);
}

.services__btn--one:hover,
.services__btn--one:focus {
  background-color: var(--basic-btn-red-hover);
}

.services__btn--one:active {
  background-color: var(--basic-red-active);
  color: rgba(240, 210, 210, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services__btn--two {
  background-color: var(--basic-green);
}

.services__btn--two:hover,
.services__btn--two:focus {
  background-color: var(--basic-btn-green-hover);
}

.services__btn--two:active {
  background-color: var(--basic-btn-green-active);
  color: rgba(35, 215, 140, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services__btn--three {
  background-color: var(--basic-yellow);
}

.services__btn--three:hover,
.services__btn-three:focus {
  background-color: var(--basic-btn-yellow-hover);
}

.services__btn--three:active {
  background-color: var(--basic-btn-yellow-active);
  color: rgba(240, 210, 145, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- description ----------*/

.description {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 149px;
}

.description__wrapper {
  width: 655px;
  box-sizing: border-box;
}

.description__title {
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
}

.description__text {
  text-transform: none;
  color: var(--basic-dark);
}

.description__list {
  list-style: none;
  position: relative;
  padding: 0;
}

.description__list h3 {
  font-size: 16px;
}

.description__item {
  text-transform: none;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.description__item::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: var(--basic-red);
  left: 0;
  vertical-align: baseline;
}

/*---------- showing ----------*/

.showing__text {
  font-weight: 700;
  margin-bottom: 30px;
}

.showing__wrapper-statistics {
  display: flex;
}

.showing__statistics {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 30px;
}

.showing__lead {
  line-height: 18px;
  text-transform: none;
  padding-bottom: 15px;
  width: 96px;
}

.showing__title {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0;
}

/*--------- logos ---------*/

.logos {
  position: relative;
}

.logos__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 114px;
  margin-bottom: 126px;
}

.logos__list::before {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-page-btn);
  top: -46px;
}

.logos__list::after {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-page-btn);
  top: 129px;
}

.logos__item-htmlacademy {
  background-image: url(../img/logo-1-1.png);
  background-repeat: no-repeat;
  width: 199px;
  height: 68px;
  cursor: pointer;
}

.logos__item-htmlacademy:hover,
.logos__item-htmlacademy:focus {
  background-image: url(../img/logo-1-2.png);
}

.logos__item-htmlacademy:active {
  background-image: url(../img/logo-1-3.png);
}

.logos__item-borodinski {
  background-image: url(../img/logo-2-1.png);
  background-repeat: no-repeat;
  width: 209px;
  height: 90px;
  cursor: pointer;
}

.logos__item-borodinski:hover,
.logos__item-borodinski:focus {
  background-image: url(../img/logo-2-3.png);
}

.logos__item-borodinski:active {
  background-image: url(../img/logo-2-2.png);
}

.logos__item-pink {
  background-image: url(../img/logo-3-1.png);
  background-repeat: no-repeat;
  width: 185px;
  height: 52px;
  cursor: pointer;
}

.logos__item-pink:hover,
.logos__item-pink:focus {
  background-image: url(../img/logo-3-2.png);
}

.logos__item-pink:active {
  background-image: url(../img/logo-3-3.png);
}

.logos__item-mishka {
  background-image: url(../img/logo-4-1.png);
  background-repeat: no-repeat;
  width: 173px;
  height: 84px;
  cursor: pointer;
}

.logos__item-mishka:hover,
.logos__item-mishka:focus {
  background-image: url(../img/logo-4-2.png);
}

.logos__item-mishka:active {
  background-image: url(../img/logo-4-3.png);
}

/*---------- map ----------*/

.map {
  position: relative;
}

.map__marker {
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  width: 231px;
  height: 190px;
  position: absolute;
  left: 824px;
  top: 85px;
}

/*---------- popup ----------*/

.popup {
  width: 319px;
  height: 308px;
  position: absolute;
  top: 0;
  background-color: var(--basic-white);
  left: 142px;
  top: 54px;
}

.popup__title {
  font-size: 18px;
  line-height: 30px;
  margin-left: 50px;
  margin-bottom: 32px;
}

.popup__address {
  color: var(--basic-gray-popup);
  font-style: normal;
  text-transform: none;
  margin-left: 50px;
  margin-bottom: 37px;
  padding-right: 37px;
  width: 201px;
}

.popup__address a {
  color: var(--basic-gray-popup);
  display: block;
  margin-top: 24px;
}

.popup__btn {
  width: 219px;
  height: 50px;
  border: 0;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
  margin-left: 50px;
}

.popup__btn:hover,
.popup__btn:focus {
  background-color: var(--basic-btn-red-hover);
}

.popup__btn:active {
  background-color: var(--basic-red-active);
  color: rgba(240, 210, 210, 0.5);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- a-popup ----------*/

.a-popup {
  display: none;
}

/*---------- search-form ----------*/

.search-form__btn {
  width: 260px;
  height: 50px;
  background-color: var(--basic-gray);
  border: 0;
  border-radius: 3px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  outline: 0;
  cursor: pointer;
}

.search-form__btn:hover,
.search-form__btn:focus {
  background-color: var(--basic-btn-gray);
}

.search-form__btn:active {
  background-color: var(--basic-btn-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/*---------- filter ----------*/

.filter__wrapper {
  margin-top: 72px;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 72px;
}

.filter__number {
  line-height: 22px;
  color: var(--basic-dark);
}

.filter__img-button-left {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

.filter__img-button-right {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

/*---------- radio ----------*/

.radio__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.radio__inner {
  text-transform: none;
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 19px;
}

/*---------- checkbox ----------*/

.checkbox__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.checkbox__inner {
  text-transform: none;
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 19px;
}

/*---------- sorting ----------*/

.sorting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 99px;
  margin-top: 60px;
}

.sorting__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.sorting__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.sorting__item {
  padding: 0;
}

.sorting__item:nth-child(2) {
  margin-left: 11px;
}

.sorting__item:nth-child(3) {
  margin-left: 27px;
}

.sorting__btn--active {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.sorting__btn--down {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 48px;
  padding: 0;
}

.sorting__btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--basic-black);
  opacity: 0.3;
  margin-left: 18px;
  padding: 0;
}

.sorting__btn:hover,
.sorting__btn:focus {
  opacity: 0.6;
}

.sorting__btn:active {
  opacity: 1;
}

/*--------- gallery__catalog ----------*/

.gallery__catalog {
  display: flex;
  flex-wrap: wrap;
}

.gallery__sedona {
  margin-right: 40px;
  position: relative;
  margin-bottom: 73px;
}

.gallery__sedona--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
}

.gallery__pink {
  position: relative;
}

.gallery__pink--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

.popup-wrapper {
  position: absolute;
  top: 345px;
}

.gallery__barbershop {
  margin-right: 40px;
  margin-bottom: 73px;
  position: relative;
}

.gallery__barbershop--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

.gallery__mishka {
  position: relative;
}

.gallery__mishka--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

.gallery__aplus {
  margin-right: 40px;
  margin-bottom: 73px;
  position: relative;
}

.gallery__aplus--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

.gallery__kvast {
  position: relative;
}

.gallery__kvast--browser {
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

/*----------- page-btn ----------*/

.page-btn__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.page-btn__item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--basic-page-btn);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn__item:nth-child(2) {
  margin-left: 11px;
  margin-right: 11px;
}

.page-btn__item:nth-child(3) {
  margin-right: 11px;
}

.page-btn__item--next {
  width: 260px;
}

.page-btn__item a {
  color: var(--basic-black);
  font-weight: 500;
}

.page-btn__item--active {
background: rgba(0, 0, 0, 0.0001);
border: 3px solid #DBDBDB;
box-sizing: border-box;
}

.page-btn__item:hover,
.page-btn__item:focus {
  background-color: var(--basic-btn-gray);
}

.page-btn__item:active {
  background-color: var(--basic-btn-gray);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- popup-wrapper ----------*/

.popup-wrapper {
  width: 360px;
  height: 231px;
  background-color: var(--basic-gray);
  text-align: center;
}

.popup-wrapper__title {
  font-size: 18px;
  line-height: 30px;
}

.popup-wrapper__text {
  color: var(--basic-gray-popup);
  text-transform: none;
}

.popup-wrapper__btn {
  width: 200px;
  height: 50px;
  background-color: var(--basic-red);
  border: 0;
  outline: 0;
  color: var(--basic-white);
  border-radius: 3px;
  cursor: pointer;
}

.popup-wrapper__btn:hover,
.popup-wrapper__btn:focus {
  background-color: var(--basic-btn-red-hover);
}

.popup-wrapper__btn:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*---------- page-footer -----------*/

.page-footer {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 139px;
  width: 1160px;
  margin: 69px auto;
}

.socials__list {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
}

.socials__item {
  width: 81px;
  height: 81px;
  background-color: var(--basic-light-gray);
  border-radius: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:nth-child(2) {
  margin-left: 9px;
  margin-right: 9px;
}

.socials__item:hover,
.socials__item:focus {
  background-color: var(--basic-red-circle);
}

.socials__item:active path {
  opacity: 0.3;
  background-color: var(--basic-red-active);
}

/*---------- footer ----------*/

.footer__title {
  font-size: 36px;
  text-transform: none;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}
